body {
  background-color: rgb(203, 231, 255); 
}
body div {
  width: 80%;
  margin: 0 auto;
}
.head {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  border-radius: 20px;
  /* gap: 10px; */
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.head nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: cursive;
}
.head nav a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 217, 255, 0.227);
  padding: 10px;
  border-radius: 20px;
}
.head nav {
  display: flex;
  gap: 200px;
}
main {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 100px;
  /* margin: 0 auto; */
}
main img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
main h1 {
  font-size: 70px;
  margin-left: 20px;
  font: optional;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
